.Switcher1 {
    position: relative;
    display: flex;
    height: 3.63rem;
    width: 100%;
    border-radius: 0.9375rem;
    user-select: none;
}

.Switcher2 {
    position: relative;
    display: flex;
    height: 3.63rem;
    width: 100%;
    font-size: 10px;
    border-radius: 0;
    user-select: none;
}

.SwitcherActive {
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    transition: all 0.2s ease-in-out;
    width: calc(50% - 1%);
    height: calc(100% - 17%);
    background: #FFFFFF;
    border-radius: 0.75rem;
    margin: 0.3125rem;
    box-sizing: border-box;
}

.SwitcherElement {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 6;
    cursor: pointer;
}

.simple {
    width: 100%;
    height: 3.25rem;
    border: 1px solid var(--main-azure-blue-color);
    border-radius: 0.9375rem;
    text-indent: 1.25rem;
    padding: 0 0;
}

label.simple {
    display: flex;
    align-items: center;
}

textarea.simple {
    text-indent: 0;
    padding: 1rem 1rem;
    height: 15rem;
    box-sizing: border-box;
}


.simple:first-child {
    margin-top: 1.3rem;
}

.simple:not(:first-child) {
    margin-top: 1.5rem;
}

.error {
    border: 1px solid red;
}

.errorMessage {
    color: red;
    font-size: 1.0625rem;
}

.containerImage img {

    max-width: 35rem;
    max-height: 35rem;
    width: 100%;
    height: 100%;
    /*display: block;*/
}

.containerImage {
    margin: 10px 10px;
    /*height: 15rem;*/
}

.canvas {
    max-width: 270px;
    align-self: center;
}

.imageContainer {
    position: relative;
    margin-bottom: 1.3rem;
    margin-top: 1.3rem;
    width: 100%;
    height: 18.43rem;
    max-width: 18.43rem;
    max-height: 250px;
    border: 0;
    background: #F4F4F4;
    border-radius: 0.9375rem;
    align-self: center;
    display: flex;
    justify-content: center;
}

.userAvatar {
    width: 250px;
    height: 250px;
    border-radius: 0.9375rem;
}

.imageIcon {
    align-self: center;
}

.imageIcon div {
    color: var(--input-text-color)
}

.MultiInputSimple_placeholder_add {
    align-self: center;
    margin-left: 1rem;
}

.icon {
    margin-top: 1.3rem;
    margin-left: 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}


.DropContainer {
    align-self: center;
    width: auto;
    height: 200px;
    max-width: 100%;
    max-height: 100%;
    border-style: dotted;
    border-color: var(--main-green-color);
    background: var(--input-bg-color);
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.7rem;
    border-radius: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.dropdown {

}

.LinkImg {
    width: 30px;
    height: 30px;
}

.DownloadImg {
    width: 30px;
    height: 30px;

}

.multiSelector {

}

.jobContainer {
    display: flex;
    flex-direction: column;
}

.subTitle {
    margin-top: 2rem;
}

.prName {
    font-weight: 600;
    font-size: 1.5rem;
}
