.small_btn{
    border-radius: 0.625rem;
    justify-content: center;
    width: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    height: 2.5rem;
    background: var(--main-green-color);
    border: 0;
    cursor: pointer;
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 400;
    color: white;
}